input[type=text] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.rsvp-form {
    line-height: 1.4;
    font-size: 16px;
}

.tagline {
    color: #bfbfbf;
    padding: 30px 0px 30px 0px;
}

.top-padding {
    padding-bottom: 0px;
}

.quote-body {
    color: rgba(white, .7);
    line-height: 1.8;
}

.quote-author {
    color: #a29061;
}

.text-shadow {
        text-shadow: 1px 1px 4px #000;
}

// Custom Form Validation
label {
    display: block;
}

input.error {
    border: 1px solid red;
}

label.error,div.error {
    font-weight: normal;
    color: red;
}
button {
    display: block;
    margin-top: 20px;
}
