.rsvp-form {
    line-height: 1.4;
    font-size: 16px;
}

.tagline {
    color: #bfbfbf;
    padding-top: 30px;
    font-size: 80%;
}

.top-padding {
    padding-bottom: 0px;
}

.quote-body {
    color: rgba(white, .7);
    line-height: 1.8;
}

.quote-author {
    color: #a29061;
}


// Custom Form Validation
label {
    display: block;
}

input.error {
    border: 1px solid red;
}

label.error,div.error {
    font-weight: normal;
    color: red;
}
button {
    display: block;
    margin-top: 20px;
}
