  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
            <p class="quote-body">"Love can sweep you off your feet and carry you along in a way you've never known before. <br>
            But the ride always ends, and you end up feeling lonely and bitter.<br>
            Wait. It's not love I'm describing. I'm thinking of a monorail."</p>
            <p class="quote-by">- Jack Handey</p>
          </div>
      </div>
      <div id="container">
          <h2>Get Your Daily Quote</h2>
	    		<div id="quoteContainer">
			    	<p></p>
			    	<p id="quoteGenius"></p>			
		    	</div><!--end quoteContainer-->
    			<div id="buttonContainer">
				    <a href="#" id="quoteButton">Quote Me</a>
		</div><!--end buttonContainer-->


	</div><!--end container-->
  </aside>
