<aside class="bg-dark">
<div class="container text-center">
<div class="call-to-action">
<p class="quote">"Love can sweep you off your feet and carry you along in a way you've never known before. <br>
But the ride always ends, and you end up feeling lonely and bitter.<br>
Wait. It's not love I'm describing. I'm thinking of a monorail."</p>
<p class="author">- Jack Handey</p>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="quote-box">
<p><span class="quote"></span><br>&mdash; <em><span class="author"></span></em></p>
<button id="generate-quote" class="btn btn-default btn-lg center-block" type="button">Generate Random Quote</button>
</div>
</div>
</div>
</div>
</aside>
