<section  id="contactus" class="top-padding">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">Save The Date!</h2>
                <hr class="primary">
            </div>
            <div class="text-center">
                <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
        </div>
        <div class="text-center">
            <form action="https://www.formbackend.com/f/{{ site.formbackend_key }}" method="POST" name="stdform" id="rsvpform" class="rsvp-form">
                <div class="form-group">
                    <input type="hidden" name="formbackend_nono">
                    <input type="hidden" name="title" value="Save The Date">
                    <input type="text" name="name" id="name" placeholder="name"><br>
                    <input type="text" name="email" id="email" placeholder="email"><br>
                    <input type="text" name="phone_no" id="phone_no" placeholder="phone number"><br>
                    <input type="text" name="address" id="address" placeholder="address">
                </div>
                <div id="std-message">
                    <textarea name="message" id="message" placeholder="write a message if you wish..." cols="25" rows="4"></textarea>
                </div>
                <div class="form-group" id="errors">
                </div>
                <div>
                    <input type="hidden" name="redirect" value="https://notbleh.github.io/live">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
        <div class="tagline text-center">
            Built by the Groom over Creative by <a href="http://www.startbootstrap.com">Start Bootstrap</a>.
        </div>
    </div>
</section>
