<section class="top-padding" id="rsvp">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Leave a message. Okay. Thanks.</p>
            </div>
            <!-- <div class="col-lg-2 col-lg-offset-1 text-center">
                 <a href="https://twitter.com/{{ site.twitter_username }}">
                 <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                 <p>{{ site.twitter_username }}</p>
                 </a>
            </div> -->
            <div class="col-lg-2 col-lg-offset-5 text-center">
                <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            <!-- <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.github_username }}</p>
                </a>
            </div> -->
        </div>
                <div>
                    <form id="rsvpform" method="post" action="#">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" />
                        <button type="submit">Submit</button>
                    </form>
                </div>
        <div class="tagline">
            <p align="center"> Built by the Groom over Creative by <a href="http://www.startbootstrap.com">Start Bootstrap</a>.</p>
        </div>
    </div>
</section>
