<section id="FAQ" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center gold-box">
                <h2 class="section-heading">Answers</h2>
                <hr class="light">
                <p>Is there a gift registry?</p>
                <p class="text-faded" style="font-size: 14.5px;">While your presence celebrating with us is enough, we have been asked what we need or would like. If you do wish to give us something, either a gift of your choosing or a monetary contribution towards our honeymoon or deposit for a home would be very much appreciated.</p>
                <p>Are children invited to the wedding?</p>
                <p class="text-faded" style="font-size: 14.5px;">While we’d love for children to be a part of our celebration, there will potentially be several very young children present, and it may be difficult to accommodate all of them. Why not take it as an opportunity for a child free day! However, we understand that getting a babysitter will not be possible for everyone coming. Please let us know if baby is coming so we can make arrangements.</p>
                <p>What is going on in Melbourne that weekend?</p>
                <p class="text-faded" style="font-size: 14.5px;">As well as our action packed day, Melbourne is joining in on the celebrations. It will be a public holiday on the Monday and Melbourne is hosting it's annual Moomba Fesitval. The 2018 program doesn't seem to be up yet but this is what happened last year - <a href="http://moomba.melbourne.vic.gov.au/" target="_blank">Moomba 2017</a>.</p>
            </div>
        </div>
    </div>
</section>
