<section class="top-padding" id="gallery">
  <div class="container-fluid">
    <div class="row no-gutter text-center">
      <div class="responsive-3">
        <div><img src="img/portfolio/1.jpg" class="img-responsive" alt="">1. content</div>
        <div><img src="img/portfolio/2.jpg" class="img-responsive" alt="">2. content</div>
        <div><img src="img/portfolio/3.jpg" class="img-responsive" alt="">3. content</div>
        <div><img src="img/portfolio/4.jpg" class="img-responsive" alt="">4. content</div>
        <div><img src="img/portfolio/5.jpg" class="img-responsive" alt="">5. content</div>
        <div><img src="img/portfolio/6.jpg" class="img-responsive" alt="">6. content</div>
      </div>
    </div>
  </div>
</section>
