    <div id="map"></div>
    <script>
      function initMap() {
        var cent = {lat: -37.84771, lng: 144.97471};
        var quat = {lat: -37.8771005, lng: 144.9963394};
        var sjoc = {lat: -37.8103587, lng: 144.9522232};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: cent,
          mapTypeControl: false,
          streetViewControl: false,
          fullscreenControl: false
        });
          
        var pinmarker = {
          path: 'M20,2C11.7,2,5,8.4,5,16.4C5,30.1,20,48,20,48s15-17.9,15-31.6C35,8.4,28.3,2,20,2z',
          fillColor: 'black',
          fillOpacity: 1,
          scale: 1,
          labelOrigin: new google.maps.Point(19.5, 17),
        };
          
        var marker = new google.maps.Marker({
          position: sjoc,
          map: map,
          icon: pinmarker,
          label: { 
              text: '1',
              color: 'white',
          }
        });
          
        var marker = new google.maps.Marker({
          position: quat,
          map: map,
          icon: pinmarker, 
          label: { 
              text: '2',
              color: 'white',
          }
        });
      }
    </script>
