<section class="top-padding" id="rsvp">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">RSVP</h2>
                <hr class="primary">
                <p>Leave a message. Okay. Thanks. What?</p>
            </div>
            <div class="text-center">
                <form action="https://getsimpleform.com/messages?form_api_token=dcfd9fb6c027d40baca15c632b8205b9" method="post">
                  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                  <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />
                  <!-- all your input fields here.... -->
                  <input type='text' name='test' />
                  <input type='submit' value='Test form' />
                </form>
            </div>
        </div>
    </div>
</section>
