<section class="top-padding" id="rsvp">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">RSVP</h2>
                <hr class="primary">
                <p>Leave a message. Okay. Thanks.</p>
            </div>
            <div class="text-center">
                <form action="https://www.formingo.co/submit/5726bc6b-4e93-4398-bbe5-b93add01e2d7" method="POST">
                <input type="text" name="full_name">
                <input type="email" name="__replyto">

                <input type="submit" value="Contact">
                </form>
            </div>
        </div>
        <div class="tagline">
            <p align="center"> Built by the Groom over Creative by <a href="www.startbootstrap.com">Start Bootstrap</a>.</p>
        </div>
    </div>
</section>
