<section class="top-padding" id="rsvp">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">RSVP</h2>
                <hr class="primary">
                <p>Leave a message. Okay. Thanks.</p>
            </div>
            <div class="text-center">
                <form action="https://getsimpleform.com/messages?form_api_token=dcfd9fb6c027d40baca15c632b8205b9" method="post">
                  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                  <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />
                  <!-- all your input fields here.... -->
                  <input type='text' name='test' />
                  <input type='submit' value='Test form' />
                </form>
            </div>
            <div id="wufoo-zpyg5qi1w7trs4">
                Fill out my <a href="https://notbleh.wufoo.com/forms/zpyg5qi1w7trs4">online form</a>.
                </div>
                <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Use <a href="http://www.wufoo.com/gallery/templates/">Wufoo templates</a> to make your own HTML forms.</div>
                <script type="text/javascript">var zpyg5qi1w7trs4;(function(d, t) {
                var s = d.createElement(t), options = {
                'userName':'notbleh',
                'formHash':'zpyg5qi1w7trs4',
                'autoResize':true,
                'height':'386',
                'async':true,
                'host':'wufoo.com',
                'header':'show',
                'ssl':true};
                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                s.onload = s.onreadystatechange = function() {
                var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                try { zpyg5qi1w7trs4 = new WufooForm();zpyg5qi1w7trs4.initialize(options);zpyg5qi1w7trs4.display(); } catch (e) {}};
                var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                })(document, 'script');</script>

            </div>
        <div class="tagline">
            <p align="center"> Built by the Groom over Creative by <a href="http://www.startbootstrap.com">Start Bootstrap</a>.</p>
        </div>
    </div>
</section>
