<section class="top-padding" id="rsvp">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">RSVP</h2>
                <hr class="primary">
                <p>Leave a message. Okay. Thanks.</p>
                <div class="text-center">
                    <!-- form action="https://www.formingo.co/submit/27f31d48-c28a-4b27-9309-5ca7df47b37a" method="POST" -->
                    <form action="#" method="POST" name="rsvp" id="rsvp">
                        <p>1. Dummy <br>
                        I, 
                            <input type="text" name="name" id="name" placeholder="your name here"> 
                            <select name="attending"> 
                                <option value="yes" selected>am attending</option> 
                                <option value="no">am not attending</option>
                            </select> 
                        the party.
                        <br>
                        My invitation mentioned I could bring 
                            <select name="guests">
                                <option value="0" selected>my awesome self</option>
                                <option value="1">a date</option>
                                <option value="2+">my family</option>
                            </select>. 
                        <br>
                        I will be attending for 
                            <input type="checkbox" name="ceremony" value="on"> the ceremony,
                            <input type="checkbox" name="reception" value="on"> the reception, 
                            <input type="checkbox" name="brunch" value="on"> brunch. 
                        <br>
                        I'll be hanging my hat at 
                            <input type="text" name="staying_at" id="staying_at" placeholder="where you're staying">. 
                        <br>
                        For food, I would like the delicious 
                            <select name="food"> 
                                <option value="meat" selected>meats</option> 
                                <option value="veg">vegetarian</option> 
                                <option value="other">other options</option>
                                (<input type="text" name="diet" id="diet" placeholder="your requirements">).
                            </select>
                        <br>
                        You’ll find me on the dance floor when they play 
                            <input type="text" name="songs" id="songs" placeholder="song name">.
                        </p>
                        <p> You can reach me at: <br>
                        <input type="text" name="email" id="email" placeholder="email"> <br>
                        <input type="text" name="phone_no" id="phone_no" placeholder="phone number"> <br>
                        <input type="text" name="address" id="address" placeholder="address"> <br>
                        </p>

                        <input type="hidden" name="__redirect" value="https://notbleh.github.io/live">

                        <p> <input type="submit" value="Submit"> </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="tagline">
            <p align="center"> Built by the Groom over Creative by <a href="www.startbootstrap.com">Start Bootstrap</a>.</p>
        </div>
    </div>
</section>
