<section id="rsvp" class="top-padding">
    <div class="container">
        <div class="row text-center">
            <h2 class="section-heading">RSVP</h2>
            <hr class="light">
            <p>0.1.4.2 Live - I&sol;We fix added. 1st guestd meals. Switched to simpleform</p>
        </div>
        <div class="row text-center">
            <form action="https://getsimpleform.com/messages?form_api_token=dcfd9fb6c027d40baca15c632b8205b9" method="POST" name="rsvpform" id="rsvpform" class="rsvp-form">
                <div class="row">
                    <input type="hidden" name="title" value="RSVP">
                    <p>I, 
                        <span>
                            <input type="text" name="name" id="name" placeholder="your name here">
                            <select id="attending" name="attending"> 
                                <option value="yes" selected="">am attending</option> 
                                <option value="no">am not attending</option>
                            </select> 
                        </span>
                    the party.</p>
                </div>
                <!-- show if not attending -->
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-md-4 col-md-offset-4" id="attendingno">
                        <p>Sorry you're not able to make it.<br>
                        That's okay, you can leave us a message anyways.</p>
                        <textarea name="message" id="message" placeholder="your message here" rows="5" style="width: 100%;"></textarea>
                    </div>
                </div>
                <!-- hide if not attending -->
                <div class="row form-group" id="attendingyes">
                    <div class="row">
                        <p>My invitation mentioned I could bring
                            <span>
                                <select id="guests" name="guests">
                                    <option value="0" selected>my awesome self</option>
                                    <option value="1">a date</option>
                                    <option value="2">my family</option>
                                </select>
                            </span><span id="guestsno">.</span> <span id="guestsyes">, so I'll be bringing:</span>
                        </p>
                    </div>
                    <div class="row" id="guestdate">
                        <input type="text" name="gnamedate" id="gnamedate" placeholder="Guest #1">
                    </div>
                    <div class="row" id="guestfamily">
                        <input type="text" name="gname1" id="gname1" placeholder="Guest #1"><br>
                        <input type="text" name="gname2" id="gname2" placeholder="Guest #2"><br>
                        <input type="text" name="gname3" id="gname3" placeholder="Guest #3"><br>
                        <input type="text" name="gname4" id="gname4" placeholder="Guest #4"><br>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 text-right">
                            <p style="margin: 0;"><span class="single">I</span><span class="plural">We</span> will be attending:</p>
                        </div>
                        <div class="col-xs-6 checkbox no-margin text-left">
                            <label><input type="checkbox" name="ceremony" value="1">the ceremony</label> <br>
                            <label><input type="checkbox" name="reception" value="1">the reception</label>
                        </div>
                    </div>
                    <div class="row">
                        <span class="single">I</span><span class="plural">We</span>'ll be hanging my hat at
                        <span>
                            <input type="text" name="staying_at" id="staying_at" placeholder="where you're staying"> 
                        </span>.
                    </div>
                    <div class="row">
                        <p><span class="single">I</span><span class="plural">We</span> 
                            <span>
                                <select id="allergies" name="allergies">
                                    <option value="no" selected>do not</option>
                                    <option value="yes">do</option>
                                </select>
                            </span> have any special dietary requirement.
                        </p>
                    </div>
                    <!-- hide if no allergies -->
                    <div class="row">
                        <div id="allergiesyes"class="form-group col-xs-6 col-xs-offset-3 col-sm-6 col-md-4 col-md-offset-4">
                            <textarea name="specrec" id="specreq" placeholder="please describe your requirements" style="width: 100%" row="4"></textarea>
                        </div>
                    </div>
                    <!-- finish allergy hide -->
                    <div class="row">
                        <p>You’ll find <span class="single">me</span><span class="plural">us</span> on the dance floor when they play
                            <span>
                                <input type="text" name="songs" id="songs" placeholder="song name">
                            </span>.
                        </p>
                    </div>
                </div>
                <!-- finish hiding -->
                <div class="row">
                    <p>
                        You can reach me at: <br>
                        <input type="text" name="email" id="email" placeholder="email"><br>
                        <input type="text" name="phone_no" id="phone_no" placeholder="phone number"><br>
                        <input type="text" name="address" id="address" placeholder="address">
                    </p>
                </div>
                <div class="row" id="errors">
                </div>
                <div>
                    <input type="hidden" name="redirect_to" value="https://billyandjessica.com">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</section>
