<section class="top-padding" id="rsvp">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">RSVP</h2>
                <hr class="primary">
                <p>Leave a message. Okay. Thanks.</p>
            </div>
            <div class="text-center">
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdenCSTh7DSpkKpyWEDDnZWd3khtm6Gk_2oN1Jn_OtJa3hgsw/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div>
        </div>
        <div class="tagline">
            <p align="center"> Built by the Groom over Creative by <a href="www.startbootstrap.com">Start Bootstrap</a>.</p>
        </div>
    </div>
</section>
