<header class="std">
    <div class="header-content">
        <div class="header-content-inner">
            <hr>
            <h1 class="text-shadow">Billy &amp; Jessica</h1>
            <h3 class="text-shadow">Save The Date!</h3>
            <hr>
            <h3 class="text-shadow">Saturday 10th March, 2018</h3>

            <p>Coming to<br>
                Melbourne / Australia</p>
            <p><a href="#contactus" class="btn btn-primary btn-xl page-scroll">Send us a message</a></p>
        </div>
    </div>
</header>
