<section id="story-time" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Story Time</h2>
                <hr class="light">
                <p class="text-faded">Short story &amp; pictures. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum iaculis tincidunt sem in consequat. In a porta erat. Mauris egestas gravida leo et ullamcorper. Donec rhoncus risus imperdiet, cursus nibh sit amet, venenatis arcu. Proin laoreet nulla magna, sed fringilla urna fringilla eget.</p>
            </div>
        </div>
    </div>
</section>
